USE [master]
GO
/****** Object:  Database [REWEAR_DB]    Script Date: 27/04/2026 13:17:28 ******/
CREATE DATABASE [REWEAR_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'REWEAR_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\REWEAR_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'REWEAR_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\REWEAR_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [REWEAR_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [REWEAR_DB]
GO
/****** Object:  Table [dbo].[Associations]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Associations](
	[association_id] [int] IDENTITY(1,1) NOT NULL,
	[association_name] [nvarchar](100) NOT NULL,
	[association_type] [nvarchar](100) NULL,
	[address] [nvarchar](200) NOT NULL,
	[city] [nvarchar](100) NULL,
	[area] [nvarchar](100) NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[description] [nvarchar](500) NULL,
	[donation_destination] [nvarchar](300) NULL,
	[receiving_hours] [nvarchar](100) NULL,
	[work_mode] [nvarchar](50) NOT NULL,
	[delivery_mode] [nvarchar](50) NOT NULL,
	[is_available] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[association_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssociationStoreRequests]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssociationStoreRequests](
	[collaboration_request_id] [int] IDENTITY(1,1) NOT NULL,
	[association_id] [int] NOT NULL,
	[store_id] [int] NOT NULL,
	[request_date] [datetime] NOT NULL,
	[request_status] [nvarchar](50) NOT NULL,
	[expiration_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[collaboration_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BagMedia]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BagMedia](
	[media_id] [int] IDENTITY(1,1) NOT NULL,
	[bag_id] [int] NOT NULL,
	[media_type] [nvarchar](20) NOT NULL,
	[media_url] [nvarchar](300) NOT NULL,
	[media_description] [nvarchar](500) NULL,
	[uploaded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[chat_id] [int] NOT NULL,
	[sender_type] [nvarchar](20) NOT NULL,
	[sender_id] [int] NOT NULL,
	[message_text] [nvarchar](1000) NOT NULL,
	[sent_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[chat_id] [int] IDENTITY(1,1) NOT NULL,
	[collaboration_request_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationBags]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationBags](
	[bag_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[short_description] [nvarchar](500) NULL,
	[sizes] [nvarchar](100) NULL,
	[target_ages] [nvarchar](100) NULL,
	[target_gender] [nvarchar](50) NULL,
	[clothes_condition] [nvarchar](100) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationRequestBags]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationRequestBags](
	[request_id] [int] NOT NULL,
	[bag_id] [int] NOT NULL,
 CONSTRAINT [PK_DonationRequestBags] PRIMARY KEY CLUSTERED 
(
	[request_id] ASC,
	[bag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationRequests]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationRequests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[association_id] [int] NOT NULL,
	[request_date] [datetime] NOT NULL,
	[delivery_type] [nvarchar](50) NOT NULL,
	[request_status] [nvarchar](50) NOT NULL,
	[expiration_date] [datetime] NOT NULL,
	[association_response] [nvarchar](500) NULL,
	[response_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[recipient_type] [nvarchar](20) NOT NULL,
	[recipient_id] [int] NOT NULL,
	[notification_type] [nvarchar](50) NOT NULL,
	[related_entity_id] [int] NULL,
	[message_text] [nvarchar](500) NOT NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecondHandStores]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecondHandStores](
	[store_id] [int] IDENTITY(1,1) NOT NULL,
	[store_name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[city] [nvarchar](100) NULL,
	[area] [nvarchar](100) NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPreferences]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPreferences](
	[preference_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[preferred_location] [nvarchar](100) NULL,
	[association_type] [nvarchar](100) NULL,
	[selected_area] [nvarchar](100) NULL,
	[selected_association_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[user_password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[location] [nvarchar](100) NULL,
	[signup_method] [nvarchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Associations] ON 

INSERT [dbo].[Associations] ([association_id], [association_name], [association_type], [address], [city], [area], [email], [phone], [description], [donation_destination], [receiving_hours], [work_mode], [delivery_mode], [is_available], [created_at]) VALUES (1, N'עמותת אור', N'בגדים לנשים', N'הרצל 10', N'תל אביב', N'מרכז', N'or@test.com', N'0501234567', N'עמותה לאיסוף בגדים', N'משפחות נזקקות', N'08:00-16:00', N'SecondHandStores', N'Both', 1, CAST(N'2026-04-13T10:41:26.527' AS DateTime))
INSERT [dbo].[Associations] ([association_id], [association_name], [association_type], [address], [city], [area], [email], [phone], [description], [donation_destination], [receiving_hours], [work_mode], [delivery_mode], [is_available], [created_at]) VALUES (2, N'עמותת שמש חדשה', N'בגדים לילדים', N'אלנבי 25', N'תל אביב', N'מרכז', N'shemesh_new@test.com', N'0509876543', N'עמותה לאיסוף בגדים לילדים', N'משפחות נזקקות', N'09:00-15:00', N'SecondHandStores', N'Both', 1, CAST(N'2026-04-13T11:06:02.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[Associations] OFF
GO
SET IDENTITY_INSERT [dbo].[BagMedia] ON 

INSERT [dbo].[BagMedia] ([media_id], [bag_id], [media_type], [media_url], [media_description], [uploaded_at]) VALUES (1, 1, N'Image', N'https://example.com/bag1.jpg', N'תמונה של שק התרומה', CAST(N'2026-04-13T13:27:50.887' AS DateTime))
SET IDENTITY_INSERT [dbo].[BagMedia] OFF
GO
SET IDENTITY_INSERT [dbo].[DonationBags] ON 

INSERT [dbo].[DonationBags] ([bag_id], [user_id], [short_description], [sizes], [target_ages], [target_gender], [clothes_condition], [created_at]) VALUES (1, 1, N'שק עם בגדי נשים במצב טוב', N'S,M,L', N'Adults', N'Female', N'Used - Good', CAST(N'2026-04-13T13:24:59.900' AS DateTime))
INSERT [dbo].[DonationBags] ([bag_id], [user_id], [short_description], [sizes], [target_ages], [target_gender], [clothes_condition], [created_at]) VALUES (2, 1, N'', N'S', N'נוער', N'בנות', N'כמו חדש', CAST(N'2026-04-26T12:24:08.037' AS DateTime))
INSERT [dbo].[DonationBags] ([bag_id], [user_id], [short_description], [sizes], [target_ages], [target_gender], [clothes_condition], [created_at]) VALUES (3, 19, N'', N'XS', N'תינוקות', N'בנים', N'חדש', CAST(N'2026-04-26T14:13:05.007' AS DateTime))
SET IDENTITY_INSERT [dbo].[DonationBags] OFF
GO
SET IDENTITY_INSERT [dbo].[DonationRequests] ON 

INSERT [dbo].[DonationRequests] ([request_id], [user_id], [association_id], [request_date], [delivery_type], [request_status], [expiration_date], [association_response], [response_date]) VALUES (1, 1, 1, CAST(N'2026-04-13T13:30:42.217' AS DateTime), N'Pickup', N'Pending', CAST(N'2026-04-27T13:30:42.217' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[DonationRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([notification_id], [recipient_type], [recipient_id], [notification_type], [related_entity_id], [message_text], [is_read], [created_at]) VALUES (1, N'Association', 1, N'DonationRequest', 1, N'New donation request from user.', 0, CAST(N'2026-04-13T13:30:42.223' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[SecondHandStores] ON 

INSERT [dbo].[SecondHandStores] ([store_id], [store_name], [address], [city], [area], [email], [phone], [description], [created_at]) VALUES (1, N'Second Chance Store', N'Dizengoff 50', N'Tel Aviv', N'Center', N'store1@test.com', N'0509876543', N'Second hand clothes store', CAST(N'2026-04-13T11:15:36.900' AS DateTime))
SET IDENTITY_INSERT [dbo].[SecondHandStores] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [full_name], [username], [user_password], [email], [phone], [location], [signup_method], [created_at]) VALUES (1, N'Neomi Levi', N'neomi_levi_1', N'123456', N'neomi1@test.com', N'0501234567', N'Tel Aviv', N'Email', CAST(N'2026-04-13T11:13:14.700' AS DateTime))
INSERT [dbo].[Users] ([user_id], [full_name], [username], [user_password], [email], [phone], [location], [signup_method], [created_at]) VALUES (10, N'נעומי אניקין', N'neomianikin123@gmail.com', N'', N'neomianikin123@gmail.com', N'0506966950', N'כפר סבא', N'Email', CAST(N'2026-04-25T23:17:56.870' AS DateTime))
INSERT [dbo].[Users] ([user_id], [full_name], [username], [user_password], [email], [phone], [location], [signup_method], [created_at]) VALUES (12, N'נעומי טסט', N'neomi.test999@gmail.com', N'', N'neomi.test999@gmail.com', N'0500000000', N'כפר סבא', N'Email', CAST(N'2026-04-25T23:24:47.853' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Associat__AB6E6164D542A12F]    Script Date: 27/04/2026 13:17:29 ******/
ALTER TABLE [dbo].[Associations] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Chats__0BAB1A187EADB2B3]    Script Date: 27/04/2026 13:17:29 ******/
ALTER TABLE [dbo].[Chats] ADD UNIQUE NONCLUSTERED 
(
	[collaboration_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SecondHa__AB6E616448E66EB2]    Script Date: 27/04/2026 13:17:29 ******/
ALTER TABLE [dbo].[SecondHandStores] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164E9A67F57]    Script Date: 27/04/2026 13:17:29 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC572E10EA938]    Script Date: 27/04/2026 13:17:29 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Associations] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[Associations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AssociationStoreRequests] ADD  DEFAULT (getdate()) FOR [request_date]
GO
ALTER TABLE [dbo].[AssociationStoreRequests] ADD  DEFAULT ('Pending') FOR [request_status]
GO
ALTER TABLE [dbo].[AssociationStoreRequests] ADD  DEFAULT (dateadd(day,(14),getdate())) FOR [expiration_date]
GO
ALTER TABLE [dbo].[BagMedia] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[Chats] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[DonationBags] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[DonationRequests] ADD  DEFAULT (getdate()) FOR [request_date]
GO
ALTER TABLE [dbo].[DonationRequests] ADD  DEFAULT ('Pending') FOR [request_status]
GO
ALTER TABLE [dbo].[DonationRequests] ADD  DEFAULT (dateadd(day,(14),getdate())) FOR [expiration_date]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[SecondHandStores] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[UserPreferences] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AssociationStoreRequests]  WITH CHECK ADD  CONSTRAINT [FK_AssociationStoreRequests_Associations] FOREIGN KEY([association_id])
REFERENCES [dbo].[Associations] ([association_id])
GO
ALTER TABLE [dbo].[AssociationStoreRequests] CHECK CONSTRAINT [FK_AssociationStoreRequests_Associations]
GO
ALTER TABLE [dbo].[AssociationStoreRequests]  WITH CHECK ADD  CONSTRAINT [FK_AssociationStoreRequests_SecondHandStores] FOREIGN KEY([store_id])
REFERENCES [dbo].[SecondHandStores] ([store_id])
GO
ALTER TABLE [dbo].[AssociationStoreRequests] CHECK CONSTRAINT [FK_AssociationStoreRequests_SecondHandStores]
GO
ALTER TABLE [dbo].[BagMedia]  WITH CHECK ADD  CONSTRAINT [FK_BagMedia_DonationBags] FOREIGN KEY([bag_id])
REFERENCES [dbo].[DonationBags] ([bag_id])
GO
ALTER TABLE [dbo].[BagMedia] CHECK CONSTRAINT [FK_BagMedia_DonationBags]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Chats] FOREIGN KEY([chat_id])
REFERENCES [dbo].[Chats] ([chat_id])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Chats]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [FK_Chats_AssociationStoreRequests] FOREIGN KEY([collaboration_request_id])
REFERENCES [dbo].[AssociationStoreRequests] ([collaboration_request_id])
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [FK_Chats_AssociationStoreRequests]
GO
ALTER TABLE [dbo].[DonationBags]  WITH CHECK ADD  CONSTRAINT [FK_DonationBags_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[DonationBags] CHECK CONSTRAINT [FK_DonationBags_Users]
GO
ALTER TABLE [dbo].[DonationRequestBags]  WITH CHECK ADD  CONSTRAINT [FK_DonationRequestBags_DonationBags] FOREIGN KEY([bag_id])
REFERENCES [dbo].[DonationBags] ([bag_id])
GO
ALTER TABLE [dbo].[DonationRequestBags] CHECK CONSTRAINT [FK_DonationRequestBags_DonationBags]
GO
ALTER TABLE [dbo].[DonationRequestBags]  WITH CHECK ADD  CONSTRAINT [FK_DonationRequestBags_DonationRequests] FOREIGN KEY([request_id])
REFERENCES [dbo].[DonationRequests] ([request_id])
GO
ALTER TABLE [dbo].[DonationRequestBags] CHECK CONSTRAINT [FK_DonationRequestBags_DonationRequests]
GO
ALTER TABLE [dbo].[DonationRequests]  WITH CHECK ADD  CONSTRAINT [FK_DonationRequests_Associations] FOREIGN KEY([association_id])
REFERENCES [dbo].[Associations] ([association_id])
GO
ALTER TABLE [dbo].[DonationRequests] CHECK CONSTRAINT [FK_DonationRequests_Associations]
GO
ALTER TABLE [dbo].[DonationRequests]  WITH CHECK ADD  CONSTRAINT [FK_DonationRequests_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[DonationRequests] CHECK CONSTRAINT [FK_DonationRequests_Users]
GO
ALTER TABLE [dbo].[UserPreferences]  WITH CHECK ADD  CONSTRAINT [FK_UserPreferences_Associations] FOREIGN KEY([selected_association_id])
REFERENCES [dbo].[Associations] ([association_id])
GO
ALTER TABLE [dbo].[UserPreferences] CHECK CONSTRAINT [FK_UserPreferences_Associations]
GO
ALTER TABLE [dbo].[UserPreferences]  WITH CHECK ADD  CONSTRAINT [FK_UserPreferences_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserPreferences] CHECK CONSTRAINT [FK_UserPreferences_Users]
GO
ALTER TABLE [dbo].[Associations]  WITH CHECK ADD  CONSTRAINT [CHK_Associations_delivery_mode] CHECK  (([delivery_mode]='Both' OR [delivery_mode]='SelfArrival' OR [delivery_mode]='Pickup'))
GO
ALTER TABLE [dbo].[Associations] CHECK CONSTRAINT [CHK_Associations_delivery_mode]
GO
ALTER TABLE [dbo].[Associations]  WITH CHECK ADD  CONSTRAINT [CHK_Associations_work_mode] CHECK  (([work_mode]='PhysicalOnly' OR [work_mode]='OwnStore' OR [work_mode]='SecondHandStores'))
GO
ALTER TABLE [dbo].[Associations] CHECK CONSTRAINT [CHK_Associations_work_mode]
GO
ALTER TABLE [dbo].[AssociationStoreRequests]  WITH CHECK ADD  CONSTRAINT [CHK_AssociationStoreRequests_request_status] CHECK  (([request_status]='Expired' OR [request_status]='Rejected' OR [request_status]='Accepted' OR [request_status]='Pending'))
GO
ALTER TABLE [dbo].[AssociationStoreRequests] CHECK CONSTRAINT [CHK_AssociationStoreRequests_request_status]
GO
ALTER TABLE [dbo].[BagMedia]  WITH CHECK ADD  CONSTRAINT [CHK_BagMedia_media_type] CHECK  (([media_type]='Video' OR [media_type]='Image'))
GO
ALTER TABLE [dbo].[BagMedia] CHECK CONSTRAINT [CHK_BagMedia_media_type]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [CHK_ChatMessages_sender_type] CHECK  (([sender_type]='Store' OR [sender_type]='Association'))
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [CHK_ChatMessages_sender_type]
GO
ALTER TABLE [dbo].[DonationRequests]  WITH CHECK ADD  CONSTRAINT [CHK_DonationRequests_delivery_type] CHECK  (([delivery_type]='SelfArrival' OR [delivery_type]='Pickup'))
GO
ALTER TABLE [dbo].[DonationRequests] CHECK CONSTRAINT [CHK_DonationRequests_delivery_type]
GO
ALTER TABLE [dbo].[DonationRequests]  WITH CHECK ADD  CONSTRAINT [CHK_DonationRequests_request_status] CHECK  (([request_status]='Expired' OR [request_status]='Completed' OR [request_status]='Rejected' OR [request_status]='Approved' OR [request_status]='Pending'))
GO
ALTER TABLE [dbo].[DonationRequests] CHECK CONSTRAINT [CHK_DonationRequests_request_status]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CHK_Notifications_recipient_type] CHECK  (([recipient_type]='User' OR [recipient_type]='Store' OR [recipient_type]='Association'))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CHK_Notifications_recipient_type]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_Users_signup_method] CHECK  (([signup_method]='Google' OR [signup_method]='Facebook' OR [signup_method]='Instagram' OR [signup_method]='Email'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_Users_signup_method]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddBagMedia]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddBagMedia]
    @bag_id INT,
    @media_type NVARCHAR(20),
    @media_url NVARCHAR(300),
    @media_description NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM DonationBags WHERE bag_id = @bag_id)
    BEGIN
        RAISERROR('Bag does not exist.', 16, 1);
        RETURN;
    END

    INSERT INTO BagMedia
    (
        bag_id,
        media_type,
        media_url,
        media_description
    )
    VALUES
    (
        @bag_id,
        @media_type,
        @media_url,
        @media_description
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckAssociationExists]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CheckAssociationExists]
    @association_name NVARCHAR(100),
    @email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT association_id, association_name, email
    FROM Associations
    WHERE association_name = @association_name
       OR email = @email;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckStoreExists]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CheckStoreExists]
    @store_name NVARCHAR(100),
    @email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT store_id, store_name, email
    FROM SecondHandStores
    WHERE store_name = @store_name
       OR email = @email;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAssociation]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateAssociation]
    @association_name NVARCHAR(100),
    @association_type NVARCHAR(100) = NULL,
    @address NVARCHAR(200),
    @city NVARCHAR(100) = NULL,
    @area NVARCHAR(100) = NULL,
    @email NVARCHAR(100),
    @phone NVARCHAR(20) = NULL,
    @description NVARCHAR(500) = NULL,
    @donation_destination NVARCHAR(300) = NULL,
    @receiving_hours NVARCHAR(100) = NULL,
    @work_mode NVARCHAR(50),
    @delivery_mode NVARCHAR(50),
    @is_available BIT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Associations
        WHERE association_name = @association_name
           OR email = @email
    )
    BEGIN
        RAISERROR('Association already exists.', 16, 1);
        RETURN;
    END

    INSERT INTO Associations
    (
        association_name,
        association_type,
        address,
        city,
        area,
        email,
        phone,
        description,
        donation_destination,
        receiving_hours,
        work_mode,
        delivery_mode,
        is_available
    )
    VALUES
    (
        @association_name,
        @association_type,
        @address,
        @city,
        @area,
        @email,
        @phone,
        @description,
        @donation_destination,
        @receiving_hours,
        @work_mode,
        @delivery_mode,
        @is_available
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateDonationBag]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateDonationBag]
    @user_id INT,
    @short_description NVARCHAR(500) = NULL,
    @sizes NVARCHAR(100) = NULL,
    @target_ages NVARCHAR(100) = NULL,
    @target_gender NVARCHAR(50) = NULL,
    @clothes_condition NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE user_id = @user_id)
    BEGIN
        RAISERROR('User does not exist.', 16, 1);
        RETURN;
    END

    INSERT INTO DonationBags
    (
        user_id,
        short_description,
        sizes,
        target_ages,
        target_gender,
        clothes_condition
    )
    VALUES
    (
        @user_id,
        @short_description,
        @sizes,
        @target_ages,
        @target_gender,
        @clothes_condition
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateDonationRequest]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateDonationRequest]
    @user_id INT,
    @association_id INT,
    @delivery_type NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE user_id = @user_id)
    BEGIN
        RAISERROR('User does not exist.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS
    (
        SELECT 1
        FROM Associations
        WHERE association_id = @association_id
          AND is_available = 1
    )
    BEGIN
        RAISERROR('Association does not exist or not available.', 16, 1);
        RETURN;
    END

    INSERT INTO DonationRequests
    (
        user_id,
        association_id,
        delivery_type
    )
    VALUES
    (
        @user_id,
        @association_id,
        @delivery_type
    );

    DECLARE @new_donation_request_id INT;
    SET @new_donation_request_id = SCOPE_IDENTITY();

    INSERT INTO Notifications
    (
        recipient_type,
        recipient_id,
        notification_type,
        related_entity_id,
        message_text
    )
    VALUES
    (
        'Association',
        @association_id,
        'DonationRequest',
        @new_donation_request_id,
        'New donation request from user.'
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateStore]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateStore]
    @store_name NVARCHAR(100),
    @address NVARCHAR(200),
    @city NVARCHAR(100) = NULL,
    @area NVARCHAR(100) = NULL,
    @email NVARCHAR(100),
    @phone NVARCHAR(20) = NULL,
    @description NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM SecondHandStores
        WHERE store_name = @store_name
           OR email = @email
    )
    BEGIN
        RAISERROR('Store already exists.', 16, 1);
        RETURN;
    END

    INSERT INTO SecondHandStores
    (
        store_name,
        address,
        city,
        area,
        email,
        phone,
        description
    )
    VALUES
    (
        @store_name,
        @address,
        @city,
        @area,
        @email,
        @phone,
        @description
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ExpireOldAssociationStoreRequests]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ExpireOldAssociationStoreRequests]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE AssociationStoreRequests
    SET request_status = 'Expired'
    WHERE request_status = 'Pending'
      AND expiration_date < GETDATE();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ExpireOldDonationRequests]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ExpireOldDonationRequests]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE DonationRequests
    SET request_status = 'Expired'
    WHERE request_status = 'Pending'
      AND expiration_date < GETDATE();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDonationBagsByUserId]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetDonationBagsByUserId]
    @user_id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        bag_id,
        user_id,
        short_description,
        sizes,
        target_ages,
        target_gender,
        clothes_condition,
        created_at
    FROM DonationBags
    WHERE user_id = @user_id
    ORDER BY created_at DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNearbyStoresForAssociation]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetNearbyStoresForAssociation]
    @association_id INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Associations WHERE association_id = @association_id)
    BEGIN
        RAISERROR('Association does not exist.', 16, 1);
        RETURN;
    END

    SELECT s.*
    FROM SecondHandStores s
    INNER JOIN Associations a
        ON (s.city = a.city OR s.area = a.area)
    WHERE a.association_id = @association_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LinkBagToDonationRequest]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LinkBagToDonationRequest]
    @request_id INT,
    @bag_id INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM DonationRequests WHERE request_id = @request_id)
    BEGIN
        RAISERROR('Donation request does not exist.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM DonationBags WHERE bag_id = @bag_id)
    BEGIN
        RAISERROR('Bag does not exist.', 16, 1);
        RETURN;
    END

    INSERT INTO DonationRequestBags
    (
        request_id,
        bag_id
    )
    VALUES
    (
        @request_id,
        @bag_id
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_LoginUser]
    @email NVARCHAR(100),
    @user_password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        user_id,
        full_name,
        username,
        email,
        phone,
        location,
        signup_method
    FROM Users
    WHERE email = @email
      AND user_password = @user_password;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================
   PROCEDURES
   ========================= */

CREATE PROCEDURE [dbo].[sp_RegisterUser]
    @full_name NVARCHAR(100),
    @username NVARCHAR(50),
    @user_password NVARCHAR(255),
    @email NVARCHAR(100),
    @phone NVARCHAR(20) = NULL,
    @location NVARCHAR(100) = NULL,
    @signup_method NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Users WHERE username = @username)
    BEGIN
        RAISERROR('Username already exists.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Users WHERE email = @email)
    BEGIN
        RAISERROR('Email already exists.', 16, 1);
        RETURN;
    END

    INSERT INTO Users
    (
        full_name,
        username,
        user_password,
        email,
        phone,
        location,
        signup_method
    )
    VALUES
    (
        @full_name,
        @username,
        @user_password,
        @email,
        @phone,
        @location,
        @signup_method
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RespondAssociationStoreRequest]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RespondAssociationStoreRequest]
    @collaboration_request_id INT,
    @new_status NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @association_id INT;

    IF @new_status NOT IN ('Accepted', 'Rejected')
    BEGIN
        RAISERROR('Status must be Accepted or Rejected.', 16, 1);
        RETURN;
    END

    SELECT @association_id = association_id
    FROM AssociationStoreRequests
    WHERE collaboration_request_id = @collaboration_request_id;

    IF @association_id IS NULL
    BEGIN
        RAISERROR('Request does not exist.', 16, 1);
        RETURN;
    END

    UPDATE AssociationStoreRequests
    SET request_status = @new_status
    WHERE collaboration_request_id = @collaboration_request_id;

    IF @new_status = 'Accepted'
    BEGIN
        INSERT INTO Chats
        (
            collaboration_request_id
        )
        VALUES
        (
            @collaboration_request_id
        );
    END

    INSERT INTO Notifications
    (
        recipient_type,
        recipient_id,
        notification_type,
        related_entity_id,
        message_text
    )
    VALUES
    (
        'Association',
        @association_id,
        'CollaborationResponse',
        @collaboration_request_id,
        'Store responded to collaboration request.'
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RespondDonationRequest]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RespondDonationRequest]
    @request_id INT,
    @new_status NVARCHAR(50),
    @association_response NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @user_id INT;

    IF @new_status NOT IN ('Approved', 'Rejected', 'Completed')
    BEGIN
        RAISERROR('Status must be Approved, Rejected or Completed.', 16, 1);
        RETURN;
    END

    SELECT @user_id = user_id
    FROM DonationRequests
    WHERE request_id = @request_id;

    IF @user_id IS NULL
    BEGIN
        RAISERROR('Request does not exist.', 16, 1);
        RETURN;
    END

    UPDATE DonationRequests
    SET request_status = @new_status,
        association_response = @association_response,
        response_date = GETDATE()
    WHERE request_id = @request_id;

    INSERT INTO Notifications
    (
        recipient_type,
        recipient_id,
        notification_type,
        related_entity_id,
        message_text
    )
    VALUES
    (
        'User',
        @user_id,
        'DonationResponse',
        @request_id,
        'Association responded to donation request.'
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveUserPreference]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SaveUserPreference]
    @user_id INT,
    @preferred_location NVARCHAR(100) = NULL,
    @association_type NVARCHAR(100) = NULL,
    @selected_area NVARCHAR(100) = NULL,
    @selected_association_id INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE user_id = @user_id)
    BEGIN
        RAISERROR('User does not exist.', 16, 1);
        RETURN;
    END

    IF @selected_association_id IS NOT NULL
       AND NOT EXISTS (SELECT 1 FROM Associations WHERE association_id = @selected_association_id)
    BEGIN
        RAISERROR('Association does not exist.', 16, 1);
        RETURN;
    END

    INSERT INTO UserPreferences
    (
        user_id,
        preferred_location,
        association_type,
        selected_area,
        selected_association_id
    )
    VALUES
    (
        @user_id,
        @preferred_location,
        @association_type,
        @selected_area,
        @selected_association_id
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SendAssociationStoreRequest]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SendAssociationStoreRequest]
    @association_id INT,
    @store_id INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Associations WHERE association_id = @association_id)
    BEGIN
        RAISERROR('Association does not exist.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM SecondHandStores WHERE store_id = @store_id)
    BEGIN
        RAISERROR('Store does not exist.', 16, 1);
        RETURN;
    END

    IF EXISTS
    (
        SELECT 1
        FROM AssociationStoreRequests
        WHERE association_id = @association_id
          AND store_id = @store_id
          AND request_status = 'Pending'
          AND expiration_date >= GETDATE()
    )
    BEGIN
        RAISERROR('There is already an active request.', 16, 1);
        RETURN;
    END

    INSERT INTO AssociationStoreRequests
    (
        association_id,
        store_id
    )
    VALUES
    (
        @association_id,
        @store_id
    );

    DECLARE @new_request_id INT;
    SET @new_request_id = SCOPE_IDENTITY();

    INSERT INTO Notifications
    (
        recipient_type,
        recipient_id,
        notification_type,
        related_entity_id,
        message_text
    )
    VALUES
    (
        'Store',
        @store_id,
        'CollaborationRequest',
        @new_request_id,
        'New collaboration request from association.'
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SendChatMessage]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SendChatMessage]
    @chat_id INT,
    @sender_type NVARCHAR(20),
    @sender_id INT,
    @message_text NVARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Chats WHERE chat_id = @chat_id)
    BEGIN
        RAISERROR('Chat does not exist.', 16, 1);
        RETURN;
    END

    INSERT INTO ChatMessages
    (
        chat_id,
        sender_type,
        sender_id,
        message_text
    )
    VALUES
    (
        @chat_id,
        @sender_type,
        @sender_id,
        @message_text
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAssociationAvailability]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateAssociationAvailability]
    @association_id INT,
    @is_available BIT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Associations WHERE association_id = @association_id)
    BEGIN
        RAISERROR('Association does not exist.', 16, 1);
        RETURN;
    END

    UPDATE Associations
    SET is_available = @is_available
    WHERE association_id = @association_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAssociationSettings]    Script Date: 27/04/2026 13:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateAssociationSettings]
    @association_id INT,
    @association_type NVARCHAR(100) = NULL,
    @address NVARCHAR(200) = NULL,
    @city NVARCHAR(100) = NULL,
    @area NVARCHAR(100) = NULL,
    @phone NVARCHAR(20) = NULL,
    @description NVARCHAR(500) = NULL,
    @donation_destination NVARCHAR(300) = NULL,
    @receiving_hours NVARCHAR(100) = NULL,
    @work_mode NVARCHAR(50) = NULL,
    @delivery_mode NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Associations WHERE association_id = @association_id)
    BEGIN
        RAISERROR('Association does not exist.', 16, 1);
        RETURN;
    END

    UPDATE Associations
    SET association_type = ISNULL(@association_type, association_type),
        address = ISNULL(@address, address),
        city = ISNULL(@city, city),
        area = ISNULL(@area, area),
        phone = ISNULL(@phone, phone),
        description = ISNULL(@description, description),
        donation_destination = ISNULL(@donation_destination, donation_destination),
        receiving_hours = ISNULL(@receiving_hours, receiving_hours),
        work_mode = ISNULL(@work_mode, work_mode),
        delivery_mode = ISNULL(@delivery_mode, delivery_mode)
    WHERE association_id = @association_id;
END
GO
USE [master]
GO
